body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #FFF7E6;  
    color: #7a0a0a;       
}


.dashboard-container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}


.header-box {
    text-align: center;
    margin-bottom: 40px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    border: 2px solid #7a0a0a;
    box-shadow: 0 0 15px rgba(255,0,0,0.2);
}

.header-box .logo {
    width: 130px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.header-box h3 {
    font-size: 26px;
    margin: 5px 0;
    letter-spacing: 1px;
    color: #7a0a0a;
}

.header-box h4 {
    font-size: 20px;
    font-weight: normal;
    color: #7a0a0a;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

.menu-card {
    background: white;
    padding: 28px;
    border-radius: 15px;
    border: 2px solid #7a0a0a;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 12px rgba(255,0,0,0.15);
}

.menu-card:hover {
    transform: scale(1.07);
    background: white;
    box-shadow: 0 0 25px rgba(255,0,0,0.4);
}

.menu-card h2 {
    margin: 0;
    font-size: 24px;
    color: #7a0a0a;
}

.menu-card p {
    margin-top: 8px;
    color: #7a0a0a;
    font-size: 16px;
}
