
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #FFF7E6; /* krem lembut */
    color: #2a2a2a;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    background: #7a0a0a; /* maroon */
    padding: 18px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}


nav {
    background: #FFF7E6; /* background krem */
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 15px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

nav a {
    color: #7a0a0a; /* teks maroon */
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 8px;
    border: 2px solid #7a0a0a; /* maroon border */
    background: #FFF7E6; /* tombol krem */
    transition: 0.25s;
}

nav a:hover {
    background: #7a0a0a;  /* maroon saat hover */
    color: #fff;          /* teks putih saat hover */
    transform: scale(1.05);
}




.container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 0;
    font-size: 22px;
    color: #7a0a0a;
}

.card p {
    margin-top: 10px;
    font-size: 15px;
    color: #555;
}


.btn {
    background: #7a0a0a;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background: #5c0707;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

table th {
    background: #7a0a0a;
    color: white;
    padding: 12px;
    text-align: left;
}

table td {
    background: #fff;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) td {
    background: #f5e9d4; /* krem muda */
}

tr:hover td {
    background: #f0dbc2;
}


form {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 25px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #7a0a0a;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus, select:focus {
    border-color: #7a0a0a;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    color: #555;
    font-size: 14px;
}
